/* -------Aide couleur---------
   ---Background---
   Bleu foncé : #012A57
   Bleu clair : #08088A
   Vert : 		#009522bd
   Vert foncer: #02650e
   Vert tr�s clair : #ddfde5bd
   Rouge : 		#A10413
   Gris foncé : #D9D9D9
   Gris clair : #F0F0F0

   ---Texte/Glyphicons---
   Texte Gris  : #AEAEAE
   Texte noir  : #030303
   Texte blanc : #FFFFFF
*/

body {
	/*
  margin:0;
  padding:0;
  background: url("../img/exemple_photos_accueil_copyright_free/background.jpg") no-repeat center; 
  -webkit-background-size: cover;
  background-size: cover;
  */
}

/*-------------*/

:root {
   --dark-blue: #012A57;
   --blue: #08088A;
   --green: #009522bd;
   --red : #A10413;
}

/*-------------*/
/*----HEADER----*/
/*-------------*/
.header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
  background-image: linear-gradient(to right, #093444, #0F749A);

}

.header-2 {
  padding: 10px;
  text-align: center;
  color: white;
  background-image: linear-gradient(to right, #093444, #0F749A);
}

/*-------------*/
/*----FONTS----*/
/*-------------*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal; 
  font-weight: 400;
  src: url(../fonts/material-icons.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('ttf');
}

/*----Material Icons----*/
.material-icons { font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 24px; line-height: 1; letter-spacing: normal; text-transform: none; display: inline-block; white-space: nowrap; word-wrap: normal; direction: ltr; -webkit-font-feature-settings: 'liga'; -webkit-font-smoothing: antialiased; }
.material-icons-airy { padding: 2px; }
.material-icons-btn{ background: transparent; border: none; } 
.material-icons-btn:hover{ cursor: pointer}
.material-icons-btn-add { color: var(--green); font-size: 40px; line-height: 0; text-align: left; border-radius: 40px; width: 40px; height: 40px; padding-left: 0px; padding-bottom: 5px; }
.material-icons.md-48 { font-size: 80px; }
.material-icons-button { background: transparent; color: #333333; opacity: 0.85; border: none; }
.material-icons-button:hover { opacity: 1; cursor: pointer; }
.material-icons-button:disabled { opacity: 0.38; }
.material-icons-button:focus { border: none; }
.material-icon-delete::before { content: '\e15b'; }
.material-icon-collections::before { content: '\e3b6'; }
.material-icon-build::before { content: '\e869'; }

/*----NAVBAR----*/
.navbar-modularis { background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed); }
.navbar-modularis .navbar-logo{ color: #fff; font-family: 'Montserrat', sans-serif; }
.navbar-modularis .btn-menu{ background: transparent; color: #fff; font-size: 22px; border: none; padding:0 10px 4px 0; }

.navbar-modularis .btn-menu:hover{  cursor: pointer;}
.navbar-modularis .btn-menu:active,
.navbar-modularis .btn-menu:focus{outline: -webkit-focus-ring-color auto 0px;}

.navbar-modularis .btn-connect{ color: #fff; border: none;}
.navbar-modularis .btn-connect:hover{ color: #fff; text-decoration: underline;}
.navbar-modularis .btn-connect:active,
.navbar-modularis .btn-connect:focus {border: none; box-shadow: none;}

/*----SIDENAV BAR----*/
.sidenav { height: 100%; width: 0; position: fixed; z-index: 1; top: 0; left: 0; background-color: #111; overflow-x: hidden; transition: 0.5s; padding-top: 60px; z-index: 999}
.sidenav a { padding: 8px 8px 8px 32px; text-decoration: none; font-size: 25px; color: #818181; display: block; transition: 0.3s; }
.sidenav a.closebtn { color: #fff; }
.sidenav a:hover { color: #f1f1f1; }
.sidenav .closebtn { position: absolute; top: 0; right: 25px; font-size: 36px; margin-left: 50px; cursor: pointer }

/*----MODAL CONNEXION----*/
.seminor-login-modal-body .close{ position: relative; top: -45px; left: 10px; color: #1cd8ad; }
.seminor-login-modal-body .close{ opacity:0.75; }
.seminor-login-modal-body .close:focus, .seminor-login-modal-body .close:hover { color: #39e8b0; opacity: 1; text-decoration: none; outline:0; }
.seminor-login-modal .modal-dialog .modal-content{ border-radius:0px; }

.seminor-login-form { padding: 2em 0 0; }
.seminor-login-form .form-group { position: relative; margin-bottom: 1.5em !important; }
.seminor-login-form .form-control{ border: 0px solid #ced4da !important; border-bottom:1px solid #adadad !important; border-radius:0 !important; }
.seminor-login-form .form-control:focus, .seminor-login-form .form-control:active{ outline:none !important; outline-width: 0; border-color: #adadad !important; box-shadow: 0 0 0 0.2rem transparent; }
.seminor-login-form  *:focus { outline: none; }

.form-control-placeholder { position: absolute; top: 0; padding: 7px 0 0 13px; transition: all 200ms; opacity: 0.5; border-top: 0px; border-left: 0; border-right: 0; }
.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder { font-size: 75%; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); opacity: 1; }

.container-checkbox input { position: absolute; opacity: 0; cursor: pointer; }
.btn-check-log .btn-check-login { font-size: 16px; padding: 10px 0; }
button.btn-check-login:hover { color: #fff; background-color: var(--dark-blue); border: 2px solid var(--dark-blue); }
.btn-check-login { color: var(--primaty-color-dark); background-color: transparent; border: 2px solid var(--dark-blue); transition: all ease-in-out .3s; }
.btn-check-login { display: inline-block; padding: 12px 0; margin-bottom: 0; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border-radius: 0; width: 100%; }
.select-form-control-placeholder{ font-size: 100%; padding: 7px 0 0 13px; margin: 0; }

/*----MENU----*/
.menu-link { 
	background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
	font-size: 25px; 
	color:#fff;
	text-align: center;
	transition: all .4s ease-in-out;
	border: none;
	background-size: 300% 100%;
	width:100%;
	height: 50px;
	margin : 5px 0;
	cursor: pointer;
	border-radius:10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}
.menu-link:hover{
	color: #fff;
	background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-decoration: none;
}
/*----LISTING-----*/
.list-group-item-light{border-left: 0; border-right: 0;}
.list-group-item-light:first-child{border-top: 0;}


/*----Listing bouton add au bout*/
.material-icons-btn-add-lg{
	color: var(--green);
    font-size: 60px;
}
.label-lg{
	font-size: 150% !important
}
.not-inline{
	display: initial !important;
}

/*----EDITION----*/
.card-edition{
	border: none;
}

.table-edition>thead {
	background-color: #002052;
	color: white;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f2f9fc;
}

.card-edition>.card-header {
	background: #012A57 !important;
	color: white;
	border-color: #001434;
}

.selected{
	
	background-color:#08088A !important;
	color:white;
	
}


.Update{
	
	    background-color: #F0B200 !important;
}

/*-----Surcharge classes datatables par défaut-----*/


/* Button Add/Edit/Delete */
.dataTables_wrapper .dt-buttons {max-width: 6%;display: flex; justify-content: space-between;}
.dataTables_wrapper .dt-buttons .dt-button.buttons-selected {background: transparent; position: relative; display: inline-block;color: #333333;text-align: center}
.dataTables_wrapper .dt-buttons .dt-button.buttons-selected.disabled{opacity: 0.38}
.dataTables_wrapper .dt-buttons .dt-button.buttons-selected span {font-size: 0px}
.dataTables_wrapper .dt-buttons .dt-button.buttons-selected::after {font-family: 'Material Icons'; font-size: 2em;line-height: 2em;text-align: center;}
.dataTables_wrapper .dt-buttons .dt-button.buttons-selected:first-child::after {content: '\e3c9'}
.dataTables_wrapper .dt-buttons .dt-button.buttons-selected:nth-child(2)::after {content: '\e872'}
.dataTables_wrapper .dt-buttons .dt-button.buttons-selected:hover {text-decoration: none; cursor: pointer;}

/* Search */
.dataTables_wrapper .dataTables_filter {position: absolute;top:10px; right: 0; padding: 7px 5px;color: #333333;text-align: left;}
.dataTables_wrapper .dataTables_filter label { font-size: 0;color: #333333; }
.dataTables_wrapper .dataTables_filter::before {font-family: 'Material Icons'; font-size: 2em;line-height: 2em;content: '\e8b6'; top: -10px; left: -25px;position: absolute;}

/* Info lignes bas de tableau */
.dataTables_wrapper .dataTables_info {    position: absolute; bottom: 0; padding: 10px 15px; font-size: 14px; color: #777;}

/* Fleche de changement de page du tableau */
.dataTables_wrapper .pagination .page-item a {height: 100%; line-height: 2.5em; padding: 0;}
.dataTables_wrapper .pagination .page-item.active a {height: 100%;background: var(--blue);font-size: 1.1em; opacity: 0.85;padding: 0 0.3rem}
.dataTables_wrapper .pagination .page-item.next a i,
.dataTables_wrapper .pagination .page-item.previous a i {padding: 0.7rem 0 0 0; font-size: 1.5em;}
.dataTables_wrapper .pagination .page-item.disabled {opacity: 0.38}

/* Customisation jsTree */
.delete-project { position: absolute; right: 0; }
.delete-project { background: rgba(0, 0, 0, 0.1) }
.delete-project:hover { background: rgba(0, 0, 0, 0.3) }
.jstree-default a { width: 80% }

.jstree-default .jstree-node > .jstree-ocl::before {font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 24px; line-height: 1; letter-spacing: normal; text-transform: none; display: inline-block; white-space: nowrap; word-wrap: normal; direction: ltr; -webkit-font-feature-settings: 'liga'; -webkit-font-smoothing: antialiased;}
.jstree-default .jstree-closed > .jstree-ocl::before {content: "\e5cf"}
.jstree-default .jstree-open > .jstree-ocl::before {content: "\e5cc"}


/* Listing Catalogue / Projets */
.row-section .row-block{background:#fff; padding:20px; margin-bottom:50px;}
.row-section .row-block ul{margin:0; padding:0;}
.row-section .row-block ul li{list-style:none; margin-bottom:20px;}
.row-section .row-block ul li:last-child{margin-bottom:0;}
.row-section .row-block .media{border:1px solid #2892b6; padding:5px 20px; border-radius: 5px; box-shadow:0px 2px 1px rgba(0,0,0,0.04); background:#fff;}
.row-section .media .media-left img{width:75px;}
.row-section .media .media-body p{padding: 0 15px; font-size:14px;}
.row-section .media .media-body h4 {color: var(--dark-blue); font-size: 18px; font-weight: 600; margin-bottom: 0; padding-left: 14px; margin-top:12px;}


/*--------------------------------------------------------------------------------------------------------------*/
/* MEDIA QUERYS */
/*------------------------------------------------------------------------------------------------------------- -*/
/*-- LG + Default ------------15----------------------------------------------------------------------------------------------*/
@media (min-width: 1200px) {

}
/*-- MD ------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*-- SM ------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
	/* .dataTables_wrapper .dataTables_filter {top: -40px;}	 */
	/* .dataTables_wrapper .dataTables_filter label {font-size: 14px} */

}
  
/*-- XS ------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
	/* .dataTables_wrapper .dataTables_filter {top: -40px;}	 */
	/* .dataTables_wrapper .dataTables_filter label {font-size: 14px} */
	.dataTables_wrapper .dataTables_info {bottom: -20px;text-align: left !important; width: 100%}
	
}

@media screen and (max-width: 644px) {

}

@media screen and (max-width: 500px) {

}

@media screen and (max-width: 460px) {
	.dataTables_wrapper .dataTables_info {bottom: -35px;}
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}  
}


@media screen and (max-width: 368px) {

}

.wrapper > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 300px 300px;
  grid-gap: 100px;
  background-color: #fff;
  color: #444;
}

.btn-modularis {
    margin: 10%;
    text-align: center;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-modularis-hover {
	width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 200px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    
	border-radius:10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-modularis-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-modularis-hover:focus {
    outline: none;
}

.alignCheckAngle{
	margin-top:40px;
	margin-left:100px;
}

.return-btn{
	margin-top: 15px;
    margin-left: 15px;
}

/*--------------------*/
/*----DEVIS DETAIL----*/
/*--------------------*/
.devisdetail input[type=checkbox]{
  display:none
}
.contentdetail {
	background-color: #f3f3f4;
}
.devisdetail,
.devisdetail ul{
	padding: 0;
	margin: 0;
	overflow: hidden;
	width:100%;
}

.devisdetail li{
	padding-left: 27px;
	position: relative;
	font-size: 1rem;
	margin-top: 4px;
	display: flex;
	flex-direction: column;
}
.devisdetail > li{
	padding-left: 0;
}

.devisdetail ul{
	max-height: 0;
	-webkit-transition: .8s ease;
	-moz-transition: .8s ease;
	-ms-transition: .8s ease;
	-o-transition: .8s ease;
}

.devisdetail p{
	font-size: 13px;
	text-align:center;
}

.devisdetail li input:nth-of-type(1):checked ~ ul{
	max-height: 1000px;
}

.devisdetail li label{
  padding: 16px;
  padding-left: 40px;
  background-color: #3F51B5;
  color: white;
  cursor: pointer;
  height: 40px;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.devisdetail li label:not(.child):before{
  transition: .3s ease;
  position: absolute;
}
.devisdetail li label:not(.child):before{
  font-family: 'Material Icons';
  font-size: 40px;
   margin-left: -35px;
  content: "keyboard_arrow_right";
}

.devisdetail li input[type=checkbox]:checked + label:before{
  transform: rotate(90deg);
}
/*--------------------*/